from bs4 import BeautifulSoup as bs
import pandas as pd
import requests as rq
import yfinance as yf
import json
import streamlit.components.v1 as components
import random
import matplotlib.pyplot as plt
_lock = pyplot.lock
import matplotlib.animation as anim
_lock = animation.lock
from datetime import datetime
